
body{

    background: url(../img/fondprotegervous.png);
    background-repeat: no-repeat;
}

table{
    margin-left: 6%;
    border: 2px solid black;
    border-collapse: collapse;
}
th{
 border: 2px solid black;

}

td{
    border: 2px solid black;
   
}

nav{
    background-color: rgba(255, 255, 255, 0.803);
    width: 69%;
    margin: 0 auto;
    min-height: 20vh;
    border-radius: 20px;
    margin-bottom: 10%;
    margin-top: 5%;
}
main{
    background-color: rgba(255, 255, 255, 0.803);
    width: 40%;
    margin: 0 auto;
    min-height: 20vh;
    border-radius: 10px;
    margin-bottom: 10%;
}
a{
    margin-left: 15%;
}

h1{
    text-align: center;
    height: 4vh;
    padding-top: 1.5%;
}
.proecris{
    text-align: center;
    
}

.image1{
    width: 10%;
 }
 .image2{
  
     width: 10%;
 }
 footer{
    background-color: white;
   height: 160px;
}
header{
   
    background-color: white;
    width: 110vw;
}
